@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif
}

.service-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1)
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #cbd5e1;
	border-radius: 20px
}
